{% extends "base.html" %}
{% block stylesheet %}<link rel="stylesheet" href="/static/css/dash.css">{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-island">
            <div class="profile-section">
                <img src="{{ profile_image_url }}" alt="Profile Photo" class="profile-photo">
                <div class="profile-info">
                    <div class="profile-name">{{ username }}</div>
                    <div class="profile-email">{{ email }}</div>
                </div>
            </div>

            <div class="sidebar-divider"></div>

            <div class="sidebar-buttons">
                <a href="" class="sidebar-button">Workout</a>
                <a href="{{ url_for('logout') }}" class="sidebar-button logout-button">Logout</a>
            </div>
        </div>
    </div>
    <div class="main">
        <h1>Hello {{ username }}</h1>
    </div>
</div>
{% endblock %}