{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/static/css/profile.css">{% endblock %}
{% block content %}
<div class="profile-container">
    <img src="{{ url_for('static', filename='assets/' + (profile_picture or 'placeholder.256x256.png')) }}" alt="Profile Picture" class="profile-avatar">
    <div class="profile-username">{{ username }}</div>
    <div class="profile-email">{{ email }}</div>
    <form method="POST" action="{{ url_for('profile') }}" class="profile-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(class_='form-control', value=username) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(class_='form-control', value=email) }}
        </div>
        <div>
            {{ form.profile_picture.label }}<br>
            {{ form.profile_picture(class_='form-control') }}
        </div>
        <div>
            {{ form.submit(class_='sidebar-button') }}
        </div>
    </form>
    <a href="{{ url_for('dashboard') }}" class="profile-back-btn">Back to Dashboard</a>
</div>
{% endblock %}
