{% extends "base.html" %}
{% block stylesheet %}<link rel="stylesheet" href="/static/css/forms.css">{% endblock %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="background">
<div class="glass-card">
    <h1>Register</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username(class_="glass-input") }}<br>
        {% if form.username.errors %}
        <div class="form-error-panel">
            {% for error in form.username.errors %}
                <div class="form-error-msg">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.email.label }}<br>
        {{ form.email(class_="glass-input") }}<br>
        {% if form.email.errors %}
        <div class="form-error-panel">
            {% for error in form.email.errors %}
                <div class="form-error-msg">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(class_="glass-input") }}<br>
        {% if form.password.errors %}
        <div class="form-error-panel">
            {% for error in form.password.errors %}
                <div class="form-error-msg">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(class_="glass-input") }}<br>
        {% if form.confirm_password.errors %}
        <div class="form-error-panel">
            {% for error in form.confirm_password.errors %}
                <div class="form-error-msg">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">{{ form.submit(class_="glass-button") }}</div>
</form>
</div>
</div>
{% endblock %}